html {
    font-family: 'Arial';
    font-size: 1.2em;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
}

header {
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    font-size: 3em;
    font-weight: bold;
    color: darkblue;
}

.signature {
    padding-top: 4em;
    padding-bottom: 3em;
}

.signature-petit {
    padding-top: 2em;
    font-size: 0.4em;
}

code {
    color: darkred;
    font-size: 1.3em;
}

.blabla {
    text-align: justify;
    width: 90%;
    max-width: 50em;
}

#all-profile-infos-will-be-then-displayed-here {
    margin-top: 2em;
}

.login-logout-btn {
    font-size: 2.5em;
}

.oid-json-div-domain {
    font-size: 1.5em;
    font-weight: bold;
}

.oid-json-div-key {
    font-size: 1.2em;
    font-weight: bold;
}

.oid-json-div-value {
    font-size: 1.2em;
}

.oid-json-table {
    border: 3px solid black;
    border-collapse: collapse;
}

.oid-json-td-domain {
    text-align: center;
    background-color: lightgray;
    border: 3px solid black;
    border-collapse: collapse;
    padding: 1em;
}

.oid-json-td-data-key {
    text-align: right;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 0.5em;
}

.oid-json-td-data-value {
    text-align: left;
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: 0.5em;
}

.oid-json-td-raw {
    text-align: left;
    vertical-align: top;
    padding: 0.5em;
    background-color: lightgoldenrodyellow;
}

.oid-json-pre-raw {
    font-family: Courier;
}

#profile-picture-is-desired {
margin-top: 2em;
}



